doctype html
html
	head
		title= Login
	body
		div(style='float:left;margin:10px;')
			a(href='/') Home
	
		div(style='float:right')
			if (username && authenticated)
				span #{username}
				a(href='/users/profile', style='margin:10px;') Profile
				a(href='/users/signout', style='margin:10px;') Sign Out
			else
				a(href='/users/signin', style='margin:10px;') Log In
				a(href='/users/register', style='margin:10px;') Register
				a(href='/users/forget', style='margin:10px;') Forgot password
				
		div(style='padding:50px;')
			form(name="add", action="/apis/add", method="post")
				h1 Add Article
				div
					p
						span Writer: 
						label(style='padding-right:50px') #{username}
					p
						textarea(cols="50", rows="25", style='resize : none;', name="Content")
					div
						span(style='padding-right:377px')
						input(type="submit", name="submit", value="Save")
						
						
						