doctype html
html
	head
		title= 'Forget Password'
	body
		div(style='float:left;margin:10px;')
			a(href='/') Home

		div(style='float:right')
				a(href='/users/register', style='margin:10px;') Register
				a(href='/users/signin', style='margin:10px;') Log In
	
		div(style='padding:50px;')
			form(name="login", action="/apis/login", method="post")
				h1 Forget Password
				div
					p
						label(style='padding-right:50px') Username or e-mail
						input(type="text", name="user", placeholder='username@example.com')
				p
					span(style='padding-right:210px')
					input(type="submit", name="submit", value="Forget Password")
						
						
						